<div class="main-content" *ngIf="isLoggedIn$ | async; else loggedOut">
  <div class="container-fluid">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="main-content" style="padding: 1rem;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

</div>

<ng-template #loggedOut>
  <app-login></app-login>
</ng-template>