/* You can add global styles to this file, and also import other style files */
    @import 'ngx-toastr/toastr';
    @import "~@ng-select/ng-select/themes/default.theme.css";
    @import 'ag-grid-community/styles/ag-grid.css';
    @import 'ag-grid-community/styles/ag-theme-alpine.css';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Red Hat Display', sans-serif;
        margin: 0;
        padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(42, 95, 120);
    color: white;
}

.page-header{
    color: wheat;
}

