<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">{{greet}} {{getFullname()}}</a>

  <div class="d-flex p-0 m-0 ml-auto nav navbar-nav">
    <div class="dropdown">
      <a class="btn btn-default dropdown-toggle selectedItem" style="color: white;"
        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img [src]="userAvatar()" class="user-image" alt="Cinque Terre" 
        width="40" height="40">
        <span class="nav-item nav-link"><b>{{getUsername()}}</b></span> &nbsp;
      </a>

    <ul class="dropdown-menu p-0 m-0 ml-auto" aria-labelledby="dropdownMenu1">
      <li class="dropdown-item"><a routerLink="/user-profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <!-- <li role="separator" class="divider"></li> -->
      <li class="dropdown-item" (click)="logout()">
        <a href="javascript:;">
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>

