<div class="form-container">
    <form [formGroup]="updateUserInfoForm" (ngSubmit)="onSubmitUpdateUser()">
        <div class="row m-2">
          <div class="col-sm-4">
            <label for="fullName"><b>Full Name &nbsp; <span style="color: rgb(178, 42, 42);">*</span></b></label>
            <input
              id="fullName"
              class="form-control"
              formControlName="fullName"
              [ngClass]="{'is-invalid': submitted && getFormControl.fullName.errors}"
              placeholder="Enter Full Name" />
            <div *ngIf="submitted && getFormControl.fullName.errors" class="invalid-feedback text-danger">
              <div *ngIf="getFormControl.fullName.errors?.required">
                Full Name is required.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="email"><b>Email &nbsp; <span style="color: rgb(178, 42, 42);">*</span></b></label>
            <input
              id="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{'is-invalid': submitted && getFormControl.email.errors}"
              placeholder="Enter Email" />
            <div *ngIf="submitted && getFormControl.email.errors" class="invalid-feedback text-danger">
              <div *ngIf="getFormControl.email.errors?.required">
                Email is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row m-2">
          <div class="col-sm-4">
            <label for="phone"><b>Phone &nbsp; <span style="color: rgb(178, 42, 42);">*</span></b></label>
            <input
              id="phone"
              
              class="form-control"
              formControlName="phoneNumber"
              [ngClass]="{'is-invalid': submitted && getFormControl.phoneNumber.errors}"
              placeholder="Enter Phone" />
            <div *ngIf="submitted && getFormControl.phoneNumber.errors" class="invalid-feedback text-danger">
              <div *ngIf="getFormControl.phoneNumber.errors?.required">
                Phone is required.
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="address"><b>Address &nbsp; <span style="color: rgb(178, 42, 42);">*</span></b></label>
            <input
              id="address"
              class="form-control"
              formControlName="address"
              [ngClass]="{'is-invalid': submitted && getFormControl.address.errors}"
              placeholder="Enter Address" />
            <div *ngIf="submitted && getFormControl.address.errors" class="invalid-feedback text-danger">
              <div *ngIf="getFormControl.address.errors?.required">
                Address is required.
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="col-sm-6"></div>
          <div class="col-sm-2">
              <button type="submit" class="btn btn-secondary">Update Details</button>
          </div>
      </div>

      </form>
</div>