.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /*
     Ag-grid's default row hover and row selected colour have some transparency. But, since our action buttons column is placed absolutely over other columns, its background looks darker because of the way those transparent colours blend. So, it is better to use background colours with no transparency in this method.
    */
  :host ::ng-deep .ag-theme-alpine {
    --ag-row-hover-color: hsl(207, 90%, 94%);
    --ag-selected-row-background-color: hsl(207, 87%, 86%);
  }
  
  /* Hide right header and spacer */
  :host ::ng-deep .ag-pinned-right-header,
  :host ::ng-deep .ag-horizontal-right-spacer {
    width: 0 !important;
    min-width: 0 !important;
  }
  
  /* Add absolute position so that action buttons column will appear on top of other columns. pointer-events: none to pass on mousemove event to behind columns */
  :host ::ng-deep .ag-pinned-right-cols-container {
    position: absolute !important;
    right: 0;
    pointer-events: none;
  }
  /* Reset pointer-events so that click can happen on action buttons */
  :host ::ng-deep .ag-pinned-right-cols-container * {
    pointer-events: initial;
  }
  
  /* Hide border of right-cols-container */
  :host ::ng-deep .ag-pinned-right-cols-container .ag-cell {
    border: none !important;
  }
  
  /* Show action buttons only for row that is being hovered. For rows which are not being hovered, hide them by setting their width and padding to 0.*/
  :host ::ng-deep .ag-pinned-right-cols-container .ag-row:not(.ag-row-hover),
  :host ::ng-deep .ag-pinned-right-cols-container .ag-row:not(.ag-row-hover) .ag-cell {
    width: 0 !important;
    padding: 0 !important;
  }
  