<div class="form-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
        <div class="row m-2">
            <div class="col-sm-3">
                <label for="oldPassword"> <b>Old Password &nbsp; <span style="color: rgb(178, 42, 42);">*</span></b> </label>
                <input
                  type="password"
                  id="oldPassword"
                  class="form-control"
                  formControlName="oldPassword"
                  [ngClass]="{'is-invalid':submitted && getFormControl.oldPassword.errors}"
                  placeholder="Enter a Old Password"/>
                <div *ngIf="submitted && getFormControl.oldPassword.errors"
                  class="invalid-feedback text-danger">
                  <div *ngIf="getFormControl.oldPassword.errors?.required">
                    Old Password is required.
                  </div>
                </div>
              </div>
        </div>
        <div class="row m-2">
            <div class="col-sm-3">
                <label for="newPassword"><b>New Password &nbsp; <span style="color: rgb(178, 42, 42);">*</span></b></label>
                <input
                 type="password"
                  id="newPassword"
                  class="form-control"
                  formControlName="newPassword"
                  [ngClass]="{'is-invalid':submitted && getFormControl.newPassword.errors}"
                  placeholder="Enter a Old Password"/>
                <div *ngIf="submitted && getFormControl.newPassword.errors"
                  class="invalid-feedback text-danger">
                  <div *ngIf="getFormControl.newPassword.errors?.required">
                    New Password is required.
                  </div>
                </div>
              </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary">Change Password</button>
            </div>
        </div>

      </form>
</div>
