<div class="form-container" style="color: black;">
    <form [formGroup]="updateCategoryForm" (ngSubmit)="onSubmitUpdateCategory()">
        <div class="row pb-2">
            <div class="col-sm-6">
                <label for="name"><b>Category Name <span style="color: red;">*</span></b> </label>
                <input id="name" class="form-control" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.name.errors }"
                    placeholder="Enter a Product Name">
                    <div *ngIf="submitted && getFormControl.name.errors" class="invalid-feedback text-danger">
                        <div *ngIf="getFormControl.name.errors?.required">Product Name is required.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="description"><b>Description<span style="color: red;">*</span></b> </label>
                    <textarea id="description" class="form-control" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.description.errors }"
                    placeholder="Enter a Description"></textarea>
                        <div *ngIf="submitted && getFormControl.description.errors" class="invalid-feedback text-danger">
                            <div *ngIf="getFormControl.description.errors?.required">Description is required.</div>
                        </div>
                 </div>
        </div>
        <!-- <div class="row pb-2">
            <div class="col-sm-6">
                <label for="name"><b>Image <span style="color: red;">*</span></b> </label>
                <input type="file" formControlName="image"/>
            </div>
        </div> -->

        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-4">
               
            </div>
            <div class="col-sm-2 float-right">
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
            
        </div>
    </form>
</div>