<div class="sidebar m-0 p-0">
    <span class="navbar-brand pl-3 pb-3 pt-3 h1" style="color: white;">Ankeet Shop</span>
    <a class="active p-3 m-0 " routerLink="">Home</a>
    <a routerLink="/product-list" class="p-3 m-0 ">Products</a>
    <a routerLink="/category-list" class="p-3 m-0 ">Category</a>
    <a routerLink="#" class="p-3 m-0 ">Order</a>
    <a routerLink="#" class="p-3 m-0 ">Order Details</a>
  </div>
  