
<div class="card d-flex bg-light" style="width: 40rem;margin-top: 10%;left: 21%;">
        <div class="card-body justify-content-center align-items-center" style="padding: 2rem;">
            <div class="float-right" style="color: black;">
                <span> <b> Login to continue your account</b> </span>
            </div>
            <br />
            <br />
          <form class="float-right"  [formGroup]="loginForm" (ngSubmit)="onLogin()" style="color: black;">
          
            <div class="row">
                <div class="col-sm-12">
                    <label for="username"><b>Username:</b> </label>
                    <input type="text" id="username"
                    formControlName="username"
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.username.errors }" />
                    <div *ngIf="submitted && getFormControl.username.errors" class="invalid-feedback text-danger">
                        <div *ngIf="getFormControl.username.errors?.required">Username is required!</div>
                    </div>
                </div>
            </div>    
        <br />

            <div class="row">

                <div class="col-sm-12">
                    <label for="password">
                        <b>Password:</b> 
                     </label>
                    <input type="password" id="password"
                    formControlName="password"
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.password.errors }" />
            <div *ngIf="submitted && getFormControl.password.errors" class="invalid-feedback text-danger">
                <div *ngIf="getFormControl.password.errors?.required">Password is required!</div>
            </div>
                </div>
            </div>
    <br />
        <div class="row float-right">
           <button type="submit" class="form-control btn btn-warning">Login</button>
        </div>
    </form>
    </div>
</div>
