<div style="align-items: stretch">
  <div id="content" class="col-sm-12">
    <div class="row d-flex ml-auto">
      <div style="margin-right: 1rem">
        <img
          [src]="userAvatar()"
          class="user-image"
          alt="profile picture"
          width="145"
          height="145"
          style="border-radius: 1rem"
        />
      </div>
      <div style="padding: 5px">
        {{ getUsername() }}
        <br />
        <i class="fa-solid fa-phone"></i> &nbsp; 9862699637
        <br />
        <i class="fa-solid fa-envelope"></i> &nbsp; {{ getEmail() }}
        <br />
        {{ getUserType() }}
      </div>
    </div>

    <div class="row" style="border-top: 1px solid aliceblue">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#updateTab">Update Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#changePassword">Change Password</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
          <!-- div contents -->
    <div class="tab-pane active row p-2 contents" id="updateTab">
      <app-update-user></app-update-user>
    </div>

    <div class="tab-pane row p-2 contents" id="changePassword">
      <app-change-password></app-change-password>
    </div>
    </div>

  </div>
</div>
